body{
    
    margin: 0;
    font-family: 'Lobster Two', cursive;
    font-size: 17px;
    line-height: 1.6;
    color: rgb(245, 197, 161);
    background-color:rgb(245, 197, 161);
}

.header__inner{
    background-color:rgb(77, 46, 0);
    width: 100%;
    max-width: 1509px;
    font-size: 30px;
    text-align: center;
    
    border: 5px solid rgb(245, 197, 161);
}

.content1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position:relative;
}

.container_1{
    height: 90vh;  
    width: 50%;
    max-width: 900px;
    font-size: 30px;
    color: rgb(77, 46, 0);
    text-align: center;
    
}
.container_2{
    color: rgb(77, 46, 0);
    padding-top:10%;
    width: 50%;
    max-width: 900px;
    font-size: 30px;
    text-align: center;  
}

.text{
    text-align: left;  
}
