body{
    
    margin: 0;
    font-family: 'Lobster Two', cursive;
    font-size: 17px;
    line-height: 1.6;
    color: rgb(245, 197, 161);
    background-color:rgb(245, 197, 161);


}

table {
    width: 100%;
    color: rgb(77, 46, 0);
    background: rgb(77, 46, 0); 
 
    border-spacing: 3px; 
   
    text-align: center;
    top: 0;
    left: 10%;
    right: 0;
   }
td, th {
    background: rgb(245, 197, 161); 
    padding: 5px; 
   }

.header__inner{
    background-color:rgb(77, 46, 0);
    width: 100%;
    max-width: 1509px;
    font-size: 30px;
    text-align: center;
    position:relative;
    border: 5px solid rgb(245, 197, 161);
   
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position:absolute;
    
}
.container{
    background-color:rgb(138, 135, 132);
    width: 100%;
    max-width: 1800px;
    font-size: 30px;
 

}
.container1{
    width: 30%;
    max-width: 300px;
}
